{% extends "layout.html" %}
{% block content %}

{% for i in range(0, 548) %}
    <h2> {{ dairas[i].nom }} </h2>
    <table class="table">
        <thead clas="thead-dark">
            <tr>
                <th scope="col"> Code </th>
                <th scope="col"> Nom complet </th>
                <th scope="col"> Centre de vaccination </th>
                <th scope="col"> Date de vaccination </th>
                <th scope="col"> Lien vers la convocation </th>
            </tr>

            <tbody>
                {% for patient in zones[i] %}
                    <tr>
                        <th scope="row"> {{ patient[0] }} </th>
                        <td> {{ patient[1] }} </td>
                        <td> {{ patient[2] }} </td>
                        <td> {{ patient[3] }} </td>
                        <td>
                            <button type="button" class="button", onClick="window.open('http://www.google.com');">
                                <span class="button__text">Convocation</span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
{% endfor %}

{% endblock content %}
